<li>
  {{name}}

  <button class="change-devour" data-id="{{id}}" data-newate="{{ate}}">
    {{#if ate}}IM FULL!{{else}}DEVOUR ME WHOLE!{{/if}}
  </button>

  <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>